.about__text {
  &-first {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;

    margin-bottom: 20px;
  }

  &-o--d {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;

    margin-bottom: 10px;
  }

  &-o--a {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;

    margin-bottom: 20px;
  }

  &-main {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;

    margin-bottom: 20px;
  }

  &-github {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
  }
}