.name__set-but {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000;
  border-radius: 13px;
  width: 364px;
  height: 73px;
  background: #b2eed0;
  cursor: pointer;

  &:hover {
    background: #9ad1b6;

  }
}

.name__set {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
