.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  height: 60px;
  padding: 0 100px;

  &__logo {
    display: flex;
    align-items: center;

    &--text {
      font-family: 'DM Serif Display', serif;
      font-weight: 400;
      font-size: 24px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;

    &--login-or-name {
      font-family: 'Inter', serif;
      font-weight: 800;
      font-size: 16px;

      color: #fff;
      border-radius: 13px;
      padding: 0px 20px;
      width: 77px;
      height: 40px;
      background: #383636;
      display: flex;
      align-items: center; // Центрируем текст внутри кнопки по вертикали
      justify-content: center; // Центрируем текст внутри кнопки по горизонтали
    }
  }
}