.burger {
  position: fixed;
  right: 0;
  top: 80px;
  display: flex;
  flex-direction: column-reverse;

  justify-content: center;
  align-items: center;

  row-gap: 20px;

  background-color: #def9dd;
  height: 60vh;
  width: 50vw;

  transform: translateX(100%);
  transition: all 0.5s;

  &-is-active {
    transform: translateX(0);
  }
}
