:root {
  --font-family: "Golos Text", sans-serif;
  --second-family: "Old Standard TT", sans-serif;
  --third-family: "DM Serif Display", sans-serif;
  --font3: "Lexend", sans-serif;
  --font4: "OdorMeanChey", sans-serif;
  --font5: "Noto Sans", sans-serif;
  --font6: "Inter", sans-serif;
  --font7: "Oleo Script", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Old Standard TT", serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__modal--button-work-email {
  font-family: "Noto Sans", sans-serif;

  font-weight: 600;
  font-size: 14px;

  display: flex;
  justify-content: center;
}

.new-target__button {
  cursor: pointer;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #fff;
  position: absolute;
  bottom: 20%;
  right: 25%;
  border-radius: 8px;
  width: 294px;
  height: 87px;
  background: #383636;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.login__modal {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 23px;
  color: #fff;
  border-radius: 8px;
  width: 368px;
  height: 539px;
  box-shadow: 8px 8px 1px 0 rgba(64, 87, 109, 0.07),
    -8px -8px 8px 0 rgba(57, 76, 96, 0.15);
  background: #383636;

  &--button {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 304px;
    height: 40px;

    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    &-outher {
      display: flex;
      justify-content: center;
      font-family: "Noto Sans", sans-serif;
      font-weight: 600;
      font-size: 14px;

      margin-bottom: 30px;
    }
  }
}

.login__modal--text {
  font-family: "Noto Sans", sans-serif;

  font-weight: 700;
  font-size: 24px;
}

.login__modal--text-p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.login__modal--buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;

  margin-bottom: 16px;
}

.triangle-bg {
  background-image: url("../public/img/triagle.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;

  &-up {
    background-image: url("../public/img/triagle-up.svg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 60%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
  }
}

.reg--email {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &-input {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 304px;
    height: 40px;

    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;

    z-index: 3;
  }
}

p {
  margin: 0;
  padding: 0;
}

.contact__block {
  border: 1px solid #272528;
}

.contact__button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  border-radius: 54px;
  width: 215px;
  height: 54px;
  background: #383636;
}

.partners__block {
  border: 1px solid #272528;
}

.partners__button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  border-radius: 54px;
  width: 215px;
  height: 54px;
  background: #383636;
}

.legal__block {
  border: 1px solid #272528;
}

.legal__button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  border-radius: 54px;
  width: 215px;
  height: 54px;
  background: #383636;
}

.back-to-top {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  color: #000;
  background: #b2eed0;
  border-radius: 68px;
  width: 235px;
  height: 68px;
}

.new-target__input-name {
  border: 2px solid #000;
  border-radius: 9px;
  width: 391px;
  height: 54px;
}

.history {
  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    background: #b2eed0;
    border-radius: 13px;
    width: 338px;
    height: 80px;
    margin-bottom: 20px;

    &-h {
      margin: 0;
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      color: #000;
    }

    &-p {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 25px;
      line-height: 100%;
      color: #858585;
    }

    &-price {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 40px;
      line-height: 100%;
      color: #000;
    }
  }
}

.nav-item {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    border: 1px solid rgb(15, 15, 17);
    opacity: 0;
    transform: translateX(-50%);
    transition: width 0.3s ease, opacity 0.3s ease;
  }

  &:hover {
    &::before {
      width: 100%;
      opacity: 1;
    }
  }

  &-is-active {
    position: relative;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #000;

    &::before {
      content: "";
      border: 1px solid #000;
      position: absolute;
      width: 100%;
      bottom: -5px;
    }
  }
}

.home {
  &__change {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 294px;
    height: 112px;
    background: #383636;
  }
}
