:root {
  --font-family: "Golos Text", sans-serif;
  --second-family: "Old Standard TT", sans-serif;
  --third-family: "DM Serif Display", sans-serif;
  --font3: "Lexend", sans-serif;
  --font4: "OdorMeanChey", sans-serif;
  --font5: "Noto Sans", sans-serif;
  --font6: "Inter", sans-serif;
  --font7: "Oleo Script", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Old Standard TT", serif;
  margin: 0;
  padding: 0;
  background-color: #f1fff3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 13px 16px;
}

@import url("./components/LoadingScreen/LoadingScreen.scss");
@import url("./components/LoginModal/LoginModal.scss");
@import url("./components/AboutText/AboutText.scss");
@import url("./components/BurgerMenu/BurgerMenu.scss");
.transaction__button {
  cursor: pointer;
  border-radius: 8px;
  height: 112px;
  background: #373836;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #fff;
  display: flex;
  justify-content: center; /* Горизонтальное выравнивание */
  align-items: center; /* Вертикальное выравнивание */
  transition: all 0.5s;

  &:hover {
    background: #88eb8d;
    color: #373836;
  }
}

.animated-button {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 9px 30px;
  overflow: hidden;
  border: 2px solid;
  border-bottom-width: 4px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(30, 255, 188, 1);
  background: rgba(255, 255, 255, 1);
  transition: color 0.3s, background 0.5s;
}

.add-transaction__expense {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 10px;

  position: absolute;
  border-radius: 3%;

  background-color: #cbeeb7;
  width: 100%;
  height: 200%;

  display: flex;
  flex-direction: column;
  row-gap: 15px;

  opacity: 0;
  transform: translate(0, 20px);

  transition: all 0.5s;
  pointer-events: none; /* Включаем взаимодействие при активности */

  &-is-active {
    opacity: 100%;
    transform: translate(-20px, 20px);
    pointer-events: auto; /* Включаем взаимодействие при активности */
  }
}

.change-line-img {
  cursor: pointer;
}
.change-pie-img {
  cursor: pointer;
}

.add-transaction__income {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;

  padding: 20px 10px;
  position: absolute;
  border-radius: 3%;

  background-color: #cbeeb7;
  width: 100%;
  height: 200%;

  display: flex;
  flex-direction: column;
  row-gap: 15px;

  opacity: 0;
  transform: translate(0, 20px);

  transition: all 0.5s;
  pointer-events: none; /* Включаем взаимодействие при активности */

  &-is-active {
    opacity: 100%;
    transform: translate(20px, 20px);
    pointer-events: auto; /* Включаем взаимодействие при активности */
  }
}

.home__modal-filter {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 10px;
  position: absolute;

  background-color: #cbeeb7;
  width: 100%;
  height: 150%;

  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.home__modal-data {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: absolute;

  background-color: #cbeeb7;
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.animated-button:hover {
  animation: stripes 0.75s infinite linear;
  background: linear-gradient(
    45deg,
    rgba(30, 255, 188, 1) 25%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(30, 255, 188, 1) 50%,
    rgba(30, 255, 188, 1) 75%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1)
  );
  background-size: 10px 10px;
  color: #ff50e5;
}
@keyframes stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}

.new-target__button {
  cursor: pointer;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #fff;
  position: absolute;
  bottom: 20%;
  right: 25%;
  border-radius: 8px;
  width: 294px;
  height: 87px;
  background: #383636;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.triangle-bg {
  background-image: url("../public/img/triagle.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;

  &-up {
    background-image: url("../public/img/triagle-up.svg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 60%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
  }
}

.reg--email {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &-input {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 304px;
    height: 40px;

    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;

    z-index: 3;
  }
}

p {
  margin: 0;
  padding: 0;
}

.contact__block {
  border: 1px solid #272528;
}

.contact__button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  border-radius: 54px;
  width: 215px;
  height: 54px;
  background: #383636;
}

.partners__block {
  border: 1px solid #272528;
}

.partners__button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  border-radius: 54px;
  width: 215px;
  height: 54px;
  background: #383636;
}

.legal__block {
  border: 1px solid #272528;
}

.legal__button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  border-radius: 54px;
  width: 215px;
  height: 54px;
  background: #383636;
}

.back-to-top {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  color: #000;
  background: #b2eed0;
  border-radius: 68px;
  width: 235px;
  height: 68px;
}

.new-target__input-name {
  border: 2px solid #000;
  border-radius: 9px;
  width: 391px;
  height: 54px;
}

.target__block {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  background: #b2eed0;
  border-radius: 13px;
  width: 338px;
  height: 80px;
  margin-bottom: 20px;
}

.history {
  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    background: #b2eed0;
    border-radius: 13px;
    width: 338px;
    height: 80px;
    margin-bottom: 20px;

    &-h {
      margin: 0;
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      color: #000;
    }

    &-p {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 25px;
      line-height: 100%;
      color: #858585;
    }

    &-price {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 40px;
      line-height: 100%;
      color: #000;
    }
  }
}

.nav-item {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    border: 1px solid rgb(15, 15, 17);
    opacity: 0;
    transform: translateX(-50%);
    transition: width 0.3s ease, opacity 0.3s ease;
  }

  &:hover {
    &::before {
      width: 100%;
      opacity: 1;
    }
  }

  &-is-active {
    position: relative;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #000;

    &::before {
      content: "";
      border: 1px solid #000;
      position: absolute;
      width: 100%;
      bottom: -5px;
    }
  }
}

.home {
  &__change {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 294px;
    height: 112px;
    background: #383636;
  }
}

@media screen and (max-width: 400px) {
  .history__block {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .history__block {
    &-h {
      font-size: 22px;
    }

    &-p {
      font-size: 20px;
    }

    &-price {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 700px) {
  .transaction__button {
    font-size: 30px;
  }
}

.home__modal-balance {
  position: relative;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 26px;
}

.home__modal-balance-r {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;

  top: 100%; /* расположить под родителем */

  margin-top: 14px; /* дополнительный отступ, если нужно */

  padding: 20px 10px;
  background-color: #cbeeb7;
  width: 100%;
  height: auto;
}

.home__modal-g {
  cursor: pointer;

  &:hover {
    opacity: 70%;
  }
}

.button-s {
  font-family: "Inter", serif;
  font-weight: 800;
  font-size: 16px;
  color: #383636;
  border-radius: 13px;
  padding: 0px 20px;
  width: 77px;
  height: 40px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 0 auto;

  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    background: #e6ffdc;
    transform: scale(1.1);
  }
}
